.html,body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
.SigninX{
    background-image: url(./../Resources/back-log.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
}
.Lg-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    padding: 20px;
    position: relative;
    width: 376px;
    height: 600px;
    left: 80px;
    top: 100px;
    border-radius: 2%; 
    border-color: transparent;
                        
}
.Log-but{ 
    position: absolute;
    top: 480px;
    left: 20px;
    width: 182.31px;
    padding: 10px;
height: 40px;
flex: none;
order: 11;
flex-grow: 0;
background-color: #FD7E14;
border-color: transparent;
}
#You{
    position: absolute;
width: 200px;
height: 26px;
left: 20px;
top: 70px;
font-family: 'Poppins';
font-style: normal;
font-weight: 30;
font-size: 18px;
line-height: 27px;
text-transform: capitalize;
color: #000000;
}
h1{
    position: absolute;
width: 68.88px;
height: 10px;
left: -100px;
top: -100px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 23px;
text-transform: capitalize;
color: #FD7E14;
}
.Start{
    position: absolute;
    width: 189px;
    height: 27px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 33px;    
    color: #000000;
    flex: none;
    order: 0;
    top: 1px;
    left: 25px;
    flex-grow: 0; 
}
.Create{
    position: absolute;
    width: 476px;
    top: 30px;
height: 30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 40px;
color: #453b3b;
flex: none;
order: 1;
flex-grow: 0;
}
.Names{
    position: absolute;
    display: flex;
    top: 95px;
   
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 328px;
height: 48px;
flex: none;
order: 3;
flex-grow: 0;
}
.Email{
    position: absolute;
    border-radius: 10px;
    top: 150px;
    width: 328px;
    height: 48px;
    flex: none;
    order: 4;
    flex-grow: 0; 
    background-color: rgb(212, 210, 210);
    border-color: transparent;
}
#Birth{
    position: absolute;
    left: 60px;
    /* top: 1000%; */
    width: 59px;
height: 19px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
text-transform: capitalize;
color: #000000;
flex: none;
order: 5;
flex-grow: 0;
transform: translate(-50px,100px);
/* background-color: rgb(154, 190, 71); */
}
.BD{
    position: absolute;
       top: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 328px;
    height: 48px;
    flex: none;
    order: 6;
    flex-grow: 0; 
}
#Gen{
    position: absolute;
    top: 290px;
    width: 52px;
height: 19px;
background-color: transparent;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
color: #000000;
flex: none;
order: 7;
flex-grow: 0;
}
.Gender{
    position: absolute;
    top: 312px;
    width: 328px;
height: 48px;
flex: none;
order: 8;
flex-grow: 0;
}
.CrtPass{
    position: absolute;
    top: 366px;
    width: 328px;
    border-radius: 10px;
height: 48px;
flex: none;
order: 9;
flex-grow: 0;
background-color: rgb(212, 210, 210);
border-color: transparent;
}
.ConPass{
    position: absolute;
    width: 328px;
    border-radius: 10px;
height: 48px;
flex: none;
order: 10;
flex-grow: 0;
background-color: rgb(212, 210, 210);
top: 420px;
border-color: transparent;
}
.Fname{
    width: 160px;
height: 48px;
flex: none;
border-radius: 10px;
order: 0;
flex-grow: 0;
background-color: rgb(212, 210, 210);
border-color: transparent;
}
.Oname{ 
width: 160px;
height: 48px;
border-radius: 10px;
flex: none;
order: 1;
flex-grow: 0;
background-color: rgb(212, 210, 210);
border-color: transparent;
}
.Female{
    position: absolute;
width: 15px;
height: 48px;
left: 0px;
top: 0px;
border-radius: 10px;
padding: 10px;
background-color: rgb(212, 210, 210);
border-color: transparent;
}
.Male{
    position: absolute;
    width: 15px;
height: 48px;
left: 168px;
top: 0px;
border-radius: 10px;
padding: 10px;
background-color: rgb(212, 210, 210);
border-color: transparent;
}
.Month{
    width: 104px;
height: 48px;
flex: none;
order: 0;
flex-grow: 0;
border-radius: 10px;
padding: 10px;
background-color: rgb(212, 210, 210);
border-color: transparent;
}
.Date{
    width: 104px;
height: 48px;
flex: none;
order: 1;
flex-grow: 0;
border-radius: 10px;
padding: 10px;
background-color: rgb(212, 210, 210);
border-color: transparent;
}
.Year{
    width: 104px;
height: 48px;
flex: none;
order: 2;
flex-grow: 0;
border-radius: 10px;
padding: 10px;
background-color: rgb(212, 210, 210);
border-color: transparent;
}
#sign{
    position: absolute;
width: 68.88px;
height: 27.35px;
left: 178px;
transform: translateY(-490px);
top: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
text-transform: capitalize;
color: #FD7E14;
}
/* .back{
    height: max-content;
    width: max-content;
    left: 1px;
} */
